* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2138;
  font-family: "Roboto", sans-serif;
  color: white;
}
::selection{
  color: #1f2138;
  background :#e3f2ff
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
  height: 20px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #43ddff;
  opacity: 0.6;
}
body .mobile {
  height: 100vh;
  overflow: hidden;
}
.mobileVersion {
  height: 100vh;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #43ddff;
}

.container {
 
  width: 100%;
  margin: auto;
  padding: 20px 0;
  min-height: 100vh;
  font-size: 16px;
  font-weight: 500;
  overflow-x: hidden;
  position: relative;
}
